<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>菲律宾电话充值管理后台</title>
    <meta name="description" content="菲律宾电话充值管理后台">
    <!-- ICONS -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
    <!-- PAGE CSS -->
    <link rel="stylesheet" href="assets/css/tags.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>
<body>
<!-- Page -->
<div id="main-container">
    <!-- NAVBAR -->
    <nav id="header-area" class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="assets/img/logo@80.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <h1>菲律宾电话充值管理后台</h1>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space
                                is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9
                                unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report
                                is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting
                                in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request
                                has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="lnr lnr-question-circle"></i> <span>Help</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Basic Use</a></li>
                            <li><a href="#">Working With Data</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Troubleshooting</a></li>
                        </ul>
                    </li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
                                                                                        class="img-circle" alt="Avatar">
                            <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>-->
                            <li class="log-out"><a href="javascript:;"><i class="lnr lnr-exit"></i><span>注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-area" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="index.html"><i class="lnr lnr-home"></i> <span>全部订单</span></a></li>
                    <li><a href="statistic.html"><i class="lnr lnr-chart-bars"></i> <span>流水统计</span></a>
                    </li>
                    <li><a href="tags.html" class="active"><i class="lnr lnr-tag"></i> <span>充值标签</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->

    <!-- MAIN -->
    <div id="main-area" class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">全部订单</h3>-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-datas">
                            <div class="panel-heading">
                                <h3 class="panel-title">相关数据<span>（修改完记得保存）</span></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row rates-box">
                                    <div class="col-sm-4 col-rate service-rate">
                                        <h4>服务费率（Z）</h4>
                                        <div class="wrp">
                                            <div class="editCon">
                                                <div class="ipt-edit edit01 active"><input type="tel" value="100"
                                                                                       placeholder="输入数字" disabled><button type="button" class="btn btn-editR">编辑</button>
                                                </div>
                                                <div class="ipt-edit edit02"><input type="tel" value="9"
                                                                                      placeholder="输入数字"
                                                                                      disabled><button type="button" class="btn btn-editR">编辑</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-rate topup-rate">
                                        <h4>充值汇率（P）</h4>
                                        <div class="wrp">
                                            <div class="editCon">
                                                <div class="ipt-edit edit01"><input type="tel" value="100"
                                                                                    placeholder="输入数字" disabled><button type="button" class="btn btn-editR">编辑</button>
                                                </div>
                                                <div class="ipt-edit edit02"><input type="tel" value="9"
                                                                                    placeholder="输入数字"
                                                                                    disabled><button type="button" class="btn btn-editR">编辑</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-rate exchange-rate">
                                        <h4 class="text-center">实时汇率</h4>
                                        <div class="wrp ex-rate">0.5</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-tags">
                            <div class="panel-heading">
                                <h3 class="panel-title">标签配置<span>（修改完记得保存）</span></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row tags-box">
                                    <div class="f-tag">
                                        <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                        <div class="wrp active">
                                            <div class="ipt-edit edit-peso"><input type="tel" value="100"
                                                                                   placeholder="输入数字" disabled><span>Peso</span>
                                            </div>
                                            <div class="ipt-edit edit-rmb"><input type="tel" value="9"
                                                                                  placeholder="输入数字"
                                                                                  disabled><span>元</span></div>
                                        </div>
                                        <button type="button" class="btn btn-editT">编辑</button>
                                    </div>
                                    <div class="f-tag">
                                        <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                        <div class="wrp">
                                            <div class="ipt-edit edit-peso"><input type="tel" value="100"
                                                                                   placeholder="输入数字" disabled><span>Peso</span>
                                            </div>
                                            <div class="ipt-edit edit-rmb"><input type="tel" value="9"
                                                                                  placeholder="输入数字"
                                                                                  disabled><span>元</span></div>
                                        </div>
                                        <button type="button" class="btn btn-editT">编辑</button>
                                    </div>
                                    <div class="f-tag">
                                        <button type="button" class="close"><span aria-hidden="true">×</span></button>
                                        <div class="wrp">
                                            <div class="ipt-edit edit-peso"><input type="tel" value="100"
                                                                                   placeholder="输入数字" disabled><span>Peso</span>
                                            </div>
                                            <div class="ipt-edit edit-rmb"><input type="tel" value="9"
                                                                                  placeholder="输入数字"
                                                                                  disabled><span>元</span></div>
                                        </div>
                                        <button type="button" class="btn btn-editT">编辑</button>
                                    </div>
                                    <div class="f-tag new addTag" data-toggle="modal" data-target="#modalTags"><span class="lnr lnr-plus-circle"></span></div>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    说明：充值金额：X，支付金额：Y，服务费率：Z，实时汇率为P(人民币/比索)，卡片配置金额为充值金额。<br><div class="formula">Y=X*(P+Z)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <!--<footer id="footer-area">
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2017.Company name All rights reserved</p>
        </div>
    </footer>-->
    <!-- END FOOTER -->
</div>

<!-- Modal -->
<div class="modal fade" id="modalTags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-tag"></i>&nbsp;添加标签</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="tagPrice" class="col-sm-3 control-label">充值金额：</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" id="tagPrice" placeholder="充值金额（Peso）">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="verCode" class="col-sm-2 control-label">验证码：</label>
                        <div class="col-sm-10">
                            <div class="rows">
                                <input type="tel" class="form-control col-sm-8" id="verCode" placeholder="验证码">
                                <button type="button" class="btn btn-primary btn-getCode col-sm-4">获取验证码</button>
                            </div>
                        </div>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn-saveTag">保存</button>
            </div>
        </div>
    </div>
</div>

<!--Templates-->
<script type="text/html" id="render-rates">
    {{if data}}
        <div class="col-sm-4 col-rate service-rate active">
            <h4>服务费率（Z）</h4>
            <div class="wrp">
                <div class="editCon">
                    <div class="ipt-edit edit01"><input id="serviceRate" type="tel" value="{{data.serviceRate}}"
                                                        placeholder="输入数字" disabled><button type="button" class="btn btn-editR">编辑</button>
                    </div>
                    <!--<div class="ipt-edit edit02"><input type="tel" value="{{data.rmbRate}}"
                                                        placeholder="输入数字"
                                                        disabled><button type="button" class="btn btn-editR">编辑</button></div>-->
                </div>
            </div>
        </div>
        <!--<div class="col-sm-4 col-rate topup-rate">
            <h4>充值汇率（P）</h4>
            <div class="wrp">
                <div class="editCon">
                    <div class="ipt-edit edit01"><input type="tel" value="{{data.pesoRate}}"
                                                        placeholder="输入数字" disabled><button type="button" class="btn btn-editR">编辑</button>
                    </div>
                    <div class="ipt-edit edit02"><input type="tel" value="{{data.rmbRate}}"
                                                        placeholder="输入数字"
                                                        disabled><button type="button" class="btn btn-editR">编辑</button></div>
                </div>
            </div>
        </div>-->
        <div class="col-sm-4 col-rate exchange-rate">
            <h4 class="text-center">实时汇率</h4>
            <div class="wrp ex-rate" id="timeRate">{{data.timeRate}}</div>
        </div>
    {{/if}}
</script>
<script type="text/html" id="render-tags">
    {{if data}}
        {{each data}}
        <div class="f-tag" data-id="{{$value.id}}">
            <button type="button" class="close" data-id="{{$value.id}}"><span aria-hidden="true">×</span></button>
            <div class="wrp">
                <!--<div class="ipt-edit edit-peso"><input type="tel" value="{{$value.forex}}"
                                                       placeholder="输入数字" disabled><span>Peso</span>
                </div>
                <div class="ipt-edit edit-rmb"><input type="tel" value="{{$value.rmb}}"
                                                      placeholder="输入数字"
                                                      disabled><span>元</span></div>-->
                <h3>{{$value.forex}}<span>Peso</span></h3>
                <p>{{$value.rmb}}<span>元</span></p>
            </div>
            <!--<button type="button" class="btn btn-editT" data-id="{{$value.id}}">编辑</button>-->
        </div>
        {{/each}}
        <div class="f-tag new" data-toggle="modal" data-target="#modalTags" onclick="document.getElementById('tagPrice').value='';"><span class="lnr lnr-plus-circle"></span></div>
    {{/if}}
</script>

<!-- Javascript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/template-web.js"></script>
<script src="assets/vendor/layer/layer.js"></script>
<script src="assets/config.js"></script>
<script src="assets/js/myKit.js"></script>
<!--<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>-->
<script src="assets/js/tags.js"></script>
</body>
</html>
